@page
@model ProiectWEB.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Order info</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.PublishingHouse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.PublishingHouse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Text)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order.OrderId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
